<a href="https://colab.research.google.com/github/MaryMargarettePunzalan2/CPEN-21A-ECE-2-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Intro to Python Programming

In [1]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

##Python Variable

In [11]:
x = 1
a, b = 0, 1
a,b,c = "zero", "one", "two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [10]:
d = "Sally" #This is a string
D = "Ana"
print(d)
e = 'John'
print(e)
print(D)

Sally
John
Ana

In [9]:
print(type(d))    #This is a type function
print(type(x))

<class 'str'>
<class 'int'>

##Casting

In [7]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

##Multiple variables with One Value

In [12]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [15]:
x = "enjoying"
print("Python Programming is"" " + x)

Python Programming is enjoying

#Operations in Python

In [19]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x)

12

In [24]:
x = 5
y = 7

not(x>y or y==x)

True

In [25]:
x is y

False

In [26]:
x is not y

True